:root {
  --accent-color: #0091ea;
  --main-color: #263238;
  --doc-width: 1300px;
  --Merriweather: "Merriweather";
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Merriweather&display=swap");

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
}

h1,
h2 {
  font-family: "Merriweather", serif;
}

h2 {
  font-size: 2em;
}

p {
  line-height: 1.5em;
}

.accent-text {
  color: var(--accent-color);
}

.img-credit {
  font-size: 0.9em;
  font-style: italic;
}

nav {
  color: main;
  padding: 1em 0 0 0;
}

.hero, .footer-bar{
  color: white;
  background-color: var(--main-color);
  width: 100%;
  /* height: 750px; */
}

.hero h1 {
  font-size: 4em;
  padding: 2em 0 0.5em 0;
  line-height: 1;
}

.hero .line {
  width: 100px;
  border-bottom: 3px solid white;
  margin-bottom: 2em;
}

.logo-row {
  width: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  padding: 0 0 4em 0;
}

.logo-row img {
  width: 130px;
}

.co-floods{
	margin: 5em 0;
}

.img-grid .row {
  padding-right: 0;
  overflow: hidden;
}

.co-floods .info, .challenges .info {
  padding: 3em 0 2em 0;
}

.co-floods img{
  object-fit: contain;
  align-self: center;
  flex: 0 0 auto; 
  /* width: 100%; */
  /* object-fit: scale-down; */

  /* max-width: 100%; */
}

.co-floods .d-flex {
  overflow: hidden;
}

.co-floods .padding-adjust {
  padding-right: 0 !important;
}

.img-grid .row{
  padding: 0 !important;
}

.carousel-caption {
	left: 5%;
	padding: 2rem;
	background-color: var(--main-color);
}


.carousel-caption h5 {
	font-family: var(--Merriweather);
	line-height: 1;
	font-size: 3em;
	margin-bottom: 0.5em;
}

.carousel-indicators [data-bs-target]{
  background-color: var(--main-color);
  height: 6px;
}

.footer-bar{
  padding: 3em 0 2em 0;
}