:root {
  --accent-color: #0091ea;
  --main-color: #263238;
  --doc-width: 1300px;
  --Merriweather: "Merriweather";
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Merriweather&display=swap");

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
}

section {
  padding-bottom: 5em;
}

h1,
h2, h3, h4 {
  font-family: "Merriweather", serif;
}

h2 {
  font-size: 2.5em;
}

p {
  line-height: 1.2em;
}

a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 400;
}

.nav .fas {
  color: var(--accent-color);
}

.accent-text {
  color: var(--accent-color);
}

.img-credit {
  font-size: 0.9em;
  font-style: italic;
}

nav {
  color: main;
  padding: 1em 0 0 0;
}

.hero, .footer-bar{
  color: white;
  background-color: var(--main-color);
  width: 100%;
  /* height: 750px; */
}

.hero h1 {
  font-size: 4em;
  padding: 2em 0 0.5em 0;
  line-height: 1;
}

.hero .line {
  width: 100px;
  border-bottom: 3px solid white;
  margin-bottom: 2em;
}

.logo-row {
  width: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  padding: 0 0 4em 0;
}

.logo-row img {
  width: 130px;
}

.co-floods{
	margin: 5em 0;
}

.img-grid .row {
  padding-right: 0;
}

.co-floods .info, .challenges .info {
  padding: 3em 0 2em 0;
}

.co-floods img{
  object-fit: contain;
  align-self: center;
  flex: 0 0 auto; 
  /* width: 100%; */
  /* object-fit: scale-down; */

  /* max-width: 100%; */
}

.co-floods .d-flex {
  overflow: hidden;
}

.co-floods .padding-adjust {
  padding-right: 0 !important;
}

.img-grid .row{
  padding: 0 !important;
}

.carousel-caption {
  color: var(--main-color);
	left: 10%;
	padding: 2rem;
	background-color: rgba(255,255,255,0.8);
}

.carousel-caption h5 {
	font-family: var(--Merriweather);
	line-height: 1;
	/* font-size: 1.5em; */
	margin-bottom: 0.5em;
}

.carousel-caption p {
	margin-bottom: 0;
}

.carousel-indicators [data-bs-target]{
  background-color: var(--main-color);
  height: 6px;
}

.carousel-control-next-icon {
  background-image: url("../img/arrow-right-circle-fill.svg");
}

.carousel-control-prev-icon {
  background-image: url("../img/arrow-left-circle-fill.svg");
}

.demographics {
  padding: 10em 0 0 0;
}

.demo-info {
  margin-bottom: 6em;
}

.three-projects .container{
  margin-bottom: 4em;
}

.footer-bar{
  padding: 3em 0 2em 0;
}

.engagement {
  padding: 10em 0;
  text-align: center;
}

.engagement i {
  /* font-weight: 100; */
  font-size: 5em;
}

.engagement .card {
  padding: 3em;
  margin: 1em 0;
  /* background-color: #f5f5f5; */
  /* border: none; */
  /* border: 1px solid #ddd; */
  border: 2px solid var(--accent-color);
  border-radius: 0;
  /* align-items: center; */
  text-align: left;
  /* height: 450px; */
  box-shadow: 1px 5px 5px #42a4f52f;
  height: 100%;
}

.engagement .card-body {
  /* padding: 0; */
}

.card-line {
  /* margin: 0 auto; */
  padding-top: 1em;
  width: 50px;
  border-bottom: 5px solid var(--accent-color);
}

.engagement .cards {
  margin: 3em 0;
}

.engagement .card .sub-heading{
  font-size: 0.7em;
}

.engagement .card i{
  text-align: center;
  font-size: 4em;
  background-color: #42a4f52f;
  padding: 0.25em;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  color: var(--accent-color);
  /* margin-top: 0.5em; */
}

.engagement ul {
  padding-left: 0;
}

.engagement .card ul{
  padding-top: 2em;
}

.engagement .card ul li{
  padding-bottom: 0.4em;
}

.engagement p{
  margin-bottom: 0;
}

.engagement .public-meetings {
  padding-top: 5em;
  align-items: center;
}

.goals {
  background-color: #EBEBEB;
  padding: 10em 0;
  margin-bottom: 10em;
}

.three-projects h6{
  background-color: var(--accent-color);
  border-radius: 100px;
  padding: 0.15em 1em;
  width: 170px;
  text-align: center;
  color: white;
}

.project-info {
  margin: 4em 0;
}

.collaborators, .credit{
  font-size: 0.8em;
}

.credit {
  margin-bottom: 4em;
}

.box {
  color: white;
  font-weight: 600;
  display: flex;
  border: 4px solid white;
  height: 300px;
}

.box p{
  margin: 0;
}

.box-blue {
  background-color: var(--accent-color);
}

.box-navy {
  background-color: #005596;
}

.result-icon {
  display: flex;
  margin: 0 auto;
  width: 200px;
  padding: 2em;
}

.lg-font {
  font-size: 1.5em;
}

.fly-through, .achievements {
  margin: 5em 0;
}